.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    min-width: 140px;
}

.avatar {
    border: 1px solid gray;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.ficha {
    border: 1px solid gray;
    border-radius: 8%;
    width: 150px;
    height: 150px;
}

.hospital {
    border: 1px solid gray;
    border-radius: 5%;
    width: 300px;
    height: 300px;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.oculto {
    display: none;
}

.logoheader {
    width: 50px;
}